/*Header Start*/
    .header{
	    max-width: 1600px;
	    height: auto;
	    text-align: center;
	    background-image: url("../img/backgrounds/about__bg.jpg");
	    margin: 0px auto 0px auto;
        z-index: 1; }

    .bg-overlay {
        max-width: 1600px;
        position: relative;
        z-index: 100;
        background-repeat: no-repeat;
        background-size: cover; }

    .bg-overlay:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(27, 11, 62, 0.85);
        z-index: -1; }

    .headeritems-container{
	    padding: 10px;
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items: center;
	    margin: auto;
	    max-width: 940px; }

    .list-ul{
	    display: flex;
	    justify-content: flex-end; }
	    
    .nav-list{
	    margin-left: 20px;
	    font-family: "Roboto", sans-serif;
	    font-weight: 700;
	    text-transform: uppercase;
	    font-size: 13px;
	    color: white; }

    .nav-list:hover{
        color: #00e0d0; }

    .nav-first{
	    color: #00e0d0;}
    .icon {
        display: none;}
    .icondiv{
        width: 27px;
        height: 3px;
        background-color: white;
        margin: 6px 20px 6px 0;
    }

    .header-title{
	    display: inline-block;
        color: white;
        font-family: Playfair Display;
        font-weight: 900;
        font-size: 32px;
        margin:150px auto 0px auto;
        text-transform: capitalize;}

    .header-paragraph{
	    color: white;
	    font-size: 14px;
	    font-family: roboto;
	    font-weight: 300;
	    word-spacing: 2px;
	    line-height: 1.8;}

    .paragraph-wrapper{
	    max-width: 780px;
	    margin: 60px auto 0px auto; }

    .learnmore{
	    display: inline-block;
	    font-family: Hammersmith One, sans-serif;
	    text-transform: uppercase;
	    font-size: 16px;
	    font-weight: ;
	    color: #00e0d0;
	    margin-top: 65px;
	    border: solid 1.5px #00e0d0;
	    padding: 15px; }

    .slider-dot {
      display: flex;
      flex-direction: row;
      margin-top: 125px;
      justify-content: center; }

    .slider-dot-item {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      border: 1px solid white;
      margin-left: 5px;
      margin-right: 5px; 
      margin-bottom: 20px; }

    .slider-dot-item.is-active {
      border-color: transparent;
      background-color: #0ae8d3; }      
/*Header End*/

/*Section 1 Start*/
    .grid{
	    display: grid;
	    grid-auto-flow: column;
	    grid-column-gap: 100px;
	    justify-content: center; 
	    margin: 70px auto 70px auto;}

    .title2{
	    text-transform: uppercase;
	    font-family: Playfair Display, sans-serif;
	    font-weight: 900;
	    font-size: 22px;
	    color: #413d4b;	}

    .paragraph2{
    	max-width: 540px;
	    margin-top: 10px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        word-spacing: 2px;
        line-height: 1.8;
        font-weight: 300; }

    .learnmore2{
	    margin-top: 30px; }
/*Section 1 End*/

/*Section 2 Start*/
    .sectionwrapper1{
	    max-width: 1600px;
	    height: 550px;
	    display: flex;
        justify-content: center;
        align-items: center;
	    text-align: center;
	    background-image: url("../img/backgrounds/video__bg.jpg");
	    margin: 0px auto 0px auto;
        z-index: 1; 
        }

    .videoicon{
    	
        max-width: 100px;
        height: auto;
	     }

    .titlevideo{
	    text-transform: uppercase;
	    font-family: "Roboto", sans-serif;
	    font-weight: 700;
	    color: white;
	    font-size: 16px;
	    margin-top: 30px; }

    .vidoe-link{
    	display: flex;
        align-items: center;
        flex-direction: column;
    }
/*Section 2 End*/

/*Section 3 Start*/
    .section3{ 
	    max-width: 1600px;
	    height: auto; }

    .section3title{
	    font-family: Playfair Display, sans-serif;
	    text-transform: uppercase;
	    font-weight: 900;
	    font-size: 22px;
	    color: #413d4b;
	    text-align: center;
        margin-top: 70px; }

    .section3paragraph1{
	    font-family: Playfair Display, sans-serif;
	    font-size: 14px;
	    font-weight: 400;
        text-align: center;
        margin-top: 15px;
        color: #2f2d35;
        letter-spacing: 1px; }

    .grid-container {
       display: grid;
       grid-template-columns: 275px 275px 275px;
       grid-template-rows: 1fr 1fr;
       grid-column-gap: 20px;
       grid-row-gap: 20px;
       justify-content: center;
       margin-top: 65px; 
       margin-bottom: 100px;}

    .section3content{
	    text-align: center;
	    }
        
    .section3icon{
	    height: 50px; }

    .section3gridtitles{
	    font-family: "Roboto", sans-serif;
	    font-weight: 700;
	    font-size: 14px;
	    justify-content: center;
	    margin-top: 30px;
	    color: #413d4b; }

    .section3paragraph2{
	    margin: 25px auto 0px auto;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        word-spacing: 2px;
        line-height: 1.8;
        font-weight: 300;
        max-width: 250px;
        color: #333333; }
/*Section 3 End*/

/*Section 4 Start*/
    .section4{
	    max-width: 1600px;
	    height: auto;
	    text-align: center;
	    background-image: url("../img/backgrounds/team__bg.jpg");
	    margin: 0px auto 0px auto;
        z-index: 1; }

    .section4title{
    	display: inline-block;
    	margin-top: 70px;
	    font-family: Playfair Display, sans-serif;
	    text-transform: uppercase;
	    font-weight: 900;
	    font-size: 22px;
	    letter-spacing: 1px;
	    color: #fff; }

    .section4paragraph{
    	display: block;
    	margin-top: 20px;
        font-family: Playfair Display, sans-serif;
	    font-size: 14px;
	    font-weight: 400;
        letter-spacing: 1px;
        color: #f9f9f9; }

    .grid-container2 {
    	margin-top: 70px;
        display: grid;
        grid-template-columns: 220px 220px 220px 220px;
        grid-template-rows: 305px;
        grid-column-gap: 20px;
        justify-content: center; }

    .mm{
	    max-width: 220px;
	    border: 0.5px solid #7e7993; }

    .mmm{
	    background-color: #fff;
	    max-width: 220px;
	    height: 230px;
	    z-index: 200; }

    .section4gridtitle{
	    font-family: "Roboto", sans-serif;
	    font-size: 14px;
	    font-weight: 700;
	    color: #fff;
	    text-align: center;
	    margin-top: 20px; }

    .section4gridparagraph{
	    font-family: "Roboto", sans-serif;
	    font-size: 13px;
	    font-weight: 300;
	    color: #b5b2c1;
	    text-align: center;
	    margin-top: 10px; }

    .section4endingp{
    	margin-top: 70px;
	    font-family: "Roboto", sans-serif;
	    font-size: 14px;
	    font-weight: 300;
	    color: #f3f3f3; }

    .learnmore3{
	     margin: 30px 0 70px 0 }
/*Section 4 End*/

/*Section 5 Start*/
    .section5{
	    height: auto;
	    max-width: 1600px; }

    .section5wrapper{
	    display: flex;
	    align-items: center;
	    max-width: 940px;
	    margin: 70px auto 0px auto;
	    justify-content: space-between; }

    .section5title{
	    font-family: Playfair Display, sans-serif;
	    font-weight: 900;
	    font-size: 22px;
	    color: #413d4b;
	    padding-left: 10px;}
    .section5paragraphswrapper{
    	padding-right: 10px;
    }
    .section5paragraph{
	    font-family: "Roboto", sans-serif;
	    font-weight: 300;
	    font-size: 14px;
        color: #413d4b; }

    .section5wrapper a{
	    display: flex; }

    .section5wrapper img{
	    margin-left: 20px; }

    .grid-container3 {
        display: grid;
        max-width: 1600px;
        margin: 70px auto 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px; 
        justify-content: center;}
    .grid-item3:nth-child(2n+1) {
        background-color: #acacac;
    }
    .grid-item3:nth-child(4n+3) {
        background-color: #a3a2a2;
    }
    .grid-item3:nth-child(even) {
        background-color: #b2b2b1;
    }
    .grid-item3:nth-child(2n+6) {
        background-color: #aaa9a9;
    }
    .grid-item3:nth-child(6) {
        background-color: #a3a2a2;
    }
    .loadmore{
	    justify-content: center;
        display: flex; }

    .loadmore2{
    	margin: 70px auto !important;
	    padding: 15px 30px 15px 30px ; }
/*Section 5 End*/

/*Section 6 Start*/
    .section6{
	    background-image: url("../img/backgrounds/testimonials__bg.jpg");
	    height: auto;
	    max-width: 1600px;
	    margin: 0px auto 0px auto; 
	    text-align: center;}

    .section6title{
    	margin-top: 70px;
	    font-family: Playfair Display, sans-serif;
	    font-size: 100px;
	    font-weight: 400;
	    color: #fff;
	    display: inline-block;
        text-align: center; }

    .section6paragraph{
    	margin: 0px auto 0 auto;
	    max-width: 780px;
	    display: block;
        font-family: Playfair Display, sans-serif;
        font-weight: 400;
	    font-size: 15px;
	    line-height: 20px;
        letter-spacing: 1px;
        color: #e1dfe6;
        text-align:center; }

    .section6name{
	    display: block;
	    margin-top: 50px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
	    font-size: 14px;
        color: #fff;
        text-align:center; }

    .section6profession{
	    display: block; }

    .section6team{
    	display: inline-block;
        text-align: center;
        margin: 45px auto 70px auto;
	    align-items: center;
	    align-content: center;
	    height: 70px;
	    max-width: 480px;
	     }

    .teamicons{
        vertical-align: middle;
	    border-radius: 50%;
	    padding: 0px 5px 0px 5px;
	    display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
        z-index: 150; }
/*Section 6 End*/

/*Section 7 Start*/
    .section7{
	    display: flex;
	    height: 650px;
	    max-width: 1600px;
	    margin: 0px auto 0px auto; }

    .section7formwrapper{
	    max-width: 450px;
	    height: 515px;
	    margin: 70px auto 0px auto; }

    .contact-inp {
        padding: 20px;
        border: 1px solid #c6c4c9;
        width: 100%;
        margin-top: 20px;}

    .contact-inp::-webkit-input-placeholder {
        color: #c6c4c9; }

    .contact-textarea {
        min-height: 200px; }

    .submit{
	    background-color: #fff;
	    margin: 10px 0px 0px 0px;
	    padding: 10px 30px 10px 30px;
	    cursor: pointer; }

    .section7iconswrapper{  
        padding: 0 4px;
        max-width: 600px;
        height: 515px;
        margin: 70px auto 0px auto; }

    .section7icons{
	    float: left;
	    max-width: 250px;
	    height: 515px;
	    margin-right: 50px;
	    text-align: center; }

    .section7icons img{
        margin-top: 50px;
        margin-right: 20px;
        vertical-align: middle; }

    .section7a{
	    display:block
	    padding: 0px;
	    height: 22px; }
/*Section 7 End*/

/*Footer*/
    .footer{
	    max-width: 1600px;
	    height: auto;
        background-image: url("../img/backgrounds/footer__bg.jpg");
	    margin: 0px auto 0px auto; }
    
    .grid-container4{
    	display: grid;
	    justify-content: space-around;
        align-items: center;
        grid-template-columns: 310px 310px 310px;
        grid-template-rows: 310px;
        grid-template-areas: "footersection1 footersection2 copyrightarea";
    }

    .footersection1{
    	padding-top: 10px;
    	padding-left: 10px;
	    float: left;
	    margin-right: 20px;
	    max-width: 300px;
	    height: auto; }

    .footerparagraph{
	    font-family: "Roboto", sans-serif;
	    font-size: 14px;
	    font-weight: 300;
	    color: #fff;
	    word-spacing: 2px;
	    line-height: 1.8;
	    max-width: 285px;
	    margin-top: 30px; }

    .footerhelp{
	    height: 25px;
	    display: flex;
	    justify-content: space-between;
	    margin-top: 75px; }

    .footerhelp a{
	    font-family: "Roboto", sans-serif;
	    font-size: 14px;
	    font-weight: 400;
	    color: #fff; }

    .footertitle{
	    color: #fff;
	    font-family: "Roboto", sans-serif;
	    font-weight: 700;
	    font-size: 15px;
	    margin-top: 15px; 
	    margin-right: 115px;}

    .footersection2{
	    max-width: 270px; }

    .footermap{
	    margin-top: 40px; }

    .footermaptitle{
	    float: right;
	    margin-top: 40px;
	    font-family: "Roboto", sans-serif;
	    font-size: 14px;
	    font-weight: 300;
	    color: #fff;
	    word-spacing: 2px;
	    line-height: 1.8;
	    max-width: 240px; }

    .footerphone{
	    margin-top: 70px; }

    .footerphonetitle{
	    margin-top: -23px;
	    margin-right: 115px; }

    .footerinput{
	    font-size: 14px;
	    padding: 15px 20px 15px 20px;
        border: 1px solid #c6c4c9;
        background: transparent;
        max-width: 200px;
        margin-top: 15px; }

     .footer-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2rem; }

    .footer-btn {
	    margin-top: 15px;
        border: 0;
        box-shadow: none;
        outline: none;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.5);
        width: calc(30% - 1rem);
        background-image: url("../img/icons/icon-plane.png");
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer; }

    .footercopyright{
	    float: right;
	    text-align: end; }
	.copyrightarea{
        float: right;

	}
/*Footer End*/

/*Media For 1920px Start*/
    @media only screen and (max-width: 1920px) {
        .header{ 
            max-width: 1903px; } 

        .grid{ 
        	max-width: 1903px; }

	    .sectionwrapper1{
	        max-width: 1903px; }

	    .section3{ 
	        max-width: 1903px;}

        .section4{
	        max-width: 1903px; }

	    .section5{
	        max-width: 1903px; }

	    .grid-container3 {
            max-width: 1903px; }

        .section6{
	        max-width: 1903px; }

        .section7{
            max-width: 1903px; }

	    .footer{
	        max-width: 1903px; }
/*Media For 1920px End*/

@media (max-width: 1160px){
	
	.section7icons2{
		display: none;
	}
}
@media (max-width: 1020px){
	.grid-container4{
		grid-template-columns: 310px 310px;
        grid-template-rows: 310px 310px;
        
	}
    .copyrightarea{
		grid-column-start: 1;
    	grid-column-end: 2;
    	grid-row-start: 2;
    	grid-row-end: 2;
	}
	}
@media (max-width: 720px){
	.nav-list{
		display: none;
	}
    .icon{
        display: block;
    }
}
@media (max-width: 900px){
	.logolarge{
		margin-top: -40px;
		float: none;
        margin-left: auto;
        margin-right: auto;
        display:block;
	}
	.grid{
		grid-auto-flow: row;
	}
	.title2{
		margin-top: 30px;
        text-align: center;
	}
	.paragraph2{
		text-align: center;
	}
	.learnmorewrapper{
		text-align: center;
	}
	.grid-container{
	   grid-template-columns: 1fr 1fr ;
       grid-template-rows: 1fr 1fr 1fr;
	}
	.grid-container2 {
        grid-template-columns: 220px 220px ;
        grid-template-rows: 305px 305px ;
        grid-row-gap: 40px;
        grid-column-gap: 40px;}
}

@media (max-width: 1500px){
	.grid-container3{    
        grid-template-columns: 260px 260px 260px 260px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-rows: 200px 200px 200px; }    
}
}
@media (max-width: 1110px){
	.grid-container3{    
        grid-template-columns: 260px 260px 260px ;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-rows: 200px 200px 200px 200px; }
}   

p h1 h2 h3 {
	padding: 0 10px;
}

@media (max-width: 700px){
	.slider-dot{
		margin-bottom: 10px;
	}
	.grid-container4{
		grid-template-columns: 310px;
        grid-template-rows: 310px 310px 310px;
        justify-content: center;
        grid-row-gap: 3px;
        margin-right: auto;
	    margin-left: auto;
        
	}
	.footersection2{
		grid-column-start: 1;
    	grid-column-end: 2;
    	grid-row-start: 2;
    	grid-row-end: 2;
	}
    .copyrightarea{
		grid-column-start: 1;
    	grid-column-end: 2;
    	grid-row-start: 3;
    	grid-row-end: 3;
	}
	.footersection1{
		border: #4b4360 solid 0.25px ;
		padding: 10px;
		margin-top: 20px;
	}

}
@media (max-width: 620px){
	.slider-dot{
		margin-bottom: 10px;
	}
}
@media (max-width: 510px){
	.grid-container2 {
        grid-template-columns: 220px ;
        grid-template-rows: 305px 305px 305px 305px;
        grid-row-gap: 20px;
        grid-column-gap: 20px;}
}
@media (max-width: 810px){
	.grid-container3{    
        grid-template-columns: 1fr 1fr  ;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
         }
}
@media (max-width: 850px){
	.section7iconswrapper{
		display: none;
	}
	.section7formwrapper{
		margin-left: 15px;
	    max-width: 400px;
	    text-align: center;
	    margin-right: auto;
	    margin-left: auto;

}
	    
}
@media (max-width: 850px){
	.section7formwrapper{
	    max-width: 400px;
	    text-align: center;
        margin-right: auto;
	    margin-left: auto;
	    
}
}
@media (max-width: 495px){
	.section7formwrapper{
	    max-width: 350px;
	    text-align: center;
	    margin-right: auto;
	    margin-left: auto;
}
	.section6team{
       display: none;}
    .section6profession{
    	display: inline-block;
    	margin-bottom: 20px;
	}
}
@media (max-width: 450px){
	.section7formwrapper{
	    max-width: 300px;
	    text-align: center;
	    justify-content: center;
	    margin-right: auto;
	    margin-left: auto;
}
@media (max-width: 440px){
	.section7formwrapper{
	    max-width: 275px;
	    text-align: center;
	    margin-right: auto;
	    margin-left: auto;
}