.header{
	max-width: 1600px;
	max-height: 670px;
	text-align: center;
	background-image: url("../img/backgrounds/about__bg.jpg");
	margin: 0px auto 0px auto;
    z-index: 1;
}
.bg-overlay {
  width: 1600px;
  position: relative;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover; }
  .bg-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(27, 11, 62, 0.85);
    z-index: -1; }

.headeritems-container{
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 940px;
}
.list-ul{
	display: flex;
	justify-content: flex-end;
    
}
.nav-list{
	margin-left: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	color: white;
}
.nav-list:hover{
    color: #00e0d0;
}
.nav-first{
	color: #00e0d0;
}
a{
	text-decoration: none;
}
.header-title{
	display: inline-block;
    color: white;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 32px;
    margin:150px auto 0px auto;
    text-transform: capitalize;
    
}
.header-paragraph{
	color: white;
	font-size: 14px;
	font-family: roboto;
	font-weight: 300;
	word-spacing: 2px;
	line-height: 1.8;
}
.paragraph-wrapper{
	width: 780px;
	margin: 60px auto 0px auto;
}
.learnmore{
	display: inline-block;
	font-family: Hammersmith One, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: ;
	color: #00e0d0;
	margin-top: 65px;
	border: solid 1.5px #00e0d0;
	padding: 15px;

}
.slider-dot {
  display: flex;
  flex-direction: row;
  margin-top: 125px;
  justify-content: center;
  }
  .slider-dot-item {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 5px;
    margin-right: 5px; }
    .slider-dot-item.is-active {
      border-color: transparent;
      background-color: #0ae8d3; }

.grid{
	display: grid;
	grid-template-columns: 240px 540px;
	grid-column-gap: 100px;
	height: 400px;
	justify-content: center;
	
}

.logolarge{
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

.content2{
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	
}
.title2{
	margin-top: 70px;
	text-transform: uppercase;
	font-family: Playfair Display, sans-serif;
	font-weight: 900;
	font-size: 22px;
	color: #413d4b	
}
.paragraph2{
	margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    word-spacing: 2px;
    line-height: 1.8;
    font-weight: 300;
}
.learnmore2{
	margin-top: 30px;
}
.section2{
	width: 1600px;
	height: 550px;
	text-align: center;
	background-image: url("../img/backgrounds/video__bg.jpg");
	margin: 0px auto 0px auto;
    z-index: 1;

}
.videoicon{
	display: inline;
	margin-top: 220px;
}
.titlevideo{
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	color: white;
	font-size: 16px;
	margin-top: 30px;
}
.videolink{
	text-decoration: none;
}
.section3{
	height: 700px;
}
.section3title{
	font-family: Playfair Display, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 22px;
	color: #413d4b;
	text-align: center;
    margin-top: 70px;
}
.section3paragraph1{
	font-family: Playfair Display, sans-serif;
	font-size: 14px;
	font-weight: 400;
    text-align: center;
    margin-top: 15px;
    color: #2f2d35;
    letter-spacing: 1px;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 250px;
  grid-template-areas: "Screen Brush App" "Cyrcle Game Love";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  margin-top: 65px;
  }

.section3content{
	text-align: center;
	margin-top: 20px;
}
.section3icon{
	height: 50px;
}
.section3gridtitles{
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 14px;
	justify-content: center;
	margin-top: 30px;
	color: #413d4b;
}
.section3paragraph2{
	margin: 25px auto 0px auto;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    word-spacing: 2px;
    line-height: 1.8;
    font-weight: 300;
    width: 250px;
    color: #333333;
}
.section4{
	width: 1600px;
	height: 710px;
	text-align: center;
	background-image: url("../img/backgrounds/team__bg.jpg");
	margin: 0px auto 0px auto;
    z-index: 1;
}
.section4title{
	position: absolute;
	top: 65px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	font-family: Playfair Display, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 22px;
	letter-spacing: 1px;
	color: #fff;
}
.section4paragraph{
    position: absolute;
    top: 100px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-family: Playfair Display, sans-serif;
	font-size: 14px;
	font-weight: 400;
    letter-spacing: 1px;
    color: #f9f9f9;

}
.grid-container2 {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 305px;
  grid-column-gap: 20px;
  top: 180px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  justify-content: center;
}

.mm{
	width: 220px;
	border: 0.5px solid #7e7993;
}
.mmm{
	background-color: #fff;
	width: 220px;
	height: 230px;
	z-index: 200;
}
.section4gridtitle{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}
.section4gridparagraph{
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #b5b2c1;
	text-align: center;
	margin-top: 10px;
}
.section4endingp{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #f3f3f3;
	position: absolute;
	top: 560px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.learnmore3{
	margin-top: 600px;
}
.section5{
	height: 730px;
}
.section5wrapper{
	display: flex;
	align-items: center;
	width: 940px;
	margin: 70px auto 0px auto;
	justify-content: space-between;
}
.section5title{
	font-family: Playfair Display, sans-serif;
	font-weight: 900;
	font-size: 22px;
	color: #413d4b;
}
.section5paragraph{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 14px;
    color: #413d4b;
}
.grid-container3 {
  display: grid;
  width: 1600px;
  margin: 70px auto 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
}
.grid-container3:nth-child(2n){
    background-color: #afafaf;
}
.loadmore{
	margin-top: 25px;
	justify-content: center;
    display: flex;
}
.loadmore2{
	padding: 15px 30px 15px 30px ;
}
.section6{
	background-image: url("../img/backgrounds/testimonials__bg.jpg");
	height: 500px;
	width: 1600px;
	margin: 0px auto 0px auto;
}
.section6title{
	position: static;
	font-family: Playfair Display, sans-serif;
	font-size: 100px;
	font-weight: 400;
	color: #fff;
	position: absolute;
	margin: 70px auto 0px auto;
	left:0;
    right:0;
    text-align: center;
}
.section6paragraph{
	width: 780px;
	position: absolute;
    top: 135px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
	font-size: 15px;
	line-height: 20px;
    letter-spacing: 1px;
    color: #e1dfe6;
    text-align:center;
}
.section6name{
	position: absolute;
    top: 280px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
	font-size: 14px;
    color: #fff;
    text-align:center;
}
.section6profession{
	position: absolute;
    top: 295px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.section6team{
	display: block;
	align-items: center;
	align-content: center;
	height: 70px;
	width: 420px;
	position: absolute;
    top: 360px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.teamicons{
    vertical-align: middle;
	border-radius: 50%;
	padding: 0px 5px 0px 5px;
	display: inline-block;

.section6team:nth-child(1);
    margin-left: 15px;
}

@media only screen and (max-width: 1366px) {
    .header{ max-width: 1349px;
	height: 670px;
	text-align: center;
	background-image: url("../img/backgrounds/about__bg.jpg");
	margin: 0px auto 0px auto;
    z-index: 1;   } 
    .grid{
	display: grid;
	grid-template-columns: 240px 540px;
	grid-column-gap: 100px;
	max-width: 1349px;
	height: 400px;
	justify-content: center;}
	.section2{
	max-width: 1349px;
	height: 550px;
	text-align: center;
	background-image: url("../img/backgrounds/video__bg.jpg");
	margin: 0px auto 0px auto;
    z-index: 1; }
    .section4{
	max-width: 1349px;}